[
- for(var token in items) {
    if token > 0
      ,
    {"id":"#{items[token].token}","sender":"#{items[token].sender}","from":"#{items[token].from}","title":"#{items[token].subject}","start":"#{items[token].timestamp}","file":"#{items[token].file}","company":"#{items[token].company}","logo":"#{items[token].logo}"}
- };
]